Repository nicolegooden/rancid-tomatillos, pull requests merged in 2020-10, with the labels that each got.

#12 Homepage ng
  src/App.js
  src/Header.css
  src/Header.js
  src/MovieCard.css
  src/MovieCard.js
  src/MovieContainer.css
  src/MovieContainer.js
  src/apiCalls.js
  src/tomato.jpg
Labels: 1, API, display, documentation

#19 Login nw
  package-lock.json
  package.json
  src/App.js
  src/Header.js
  src/Login.css
  src/Login.js
  src/MovieCard.js
  src/MovieContainer.js
  src/apiCalls.js
  src/index.js
Labels: 2, API, design, display, enhancement

#20 Login logout ng
  src/App.js
  src/Header.js
  src/Login.js
Labels: 2, display, documentation

#21 Login logout nw
  src/App.js
  src/Header.js
Labels: 2, display, enhancement

#25 Testing ng
  src/App.test.js
  src/App/App.css
  src/App/App.js
  src/Header/Header.css
  src/Header/Header.js
  src/Header/Header.test.js
  src/Login/Login.css
  src/Login/Login.js
  src/Login/Login.test.js
  src/MovieCard/MovieCard.css
  src/MovieCard/MovieCard.js
  src/MovieCard/MovieCard.test.js
  src/MovieContainer/MovieContainer.css
  src/MovieContainer/MovieContainer.js
  src/MovieContainer/MovieContainer.test.js
  src/apiCalls.js
  src/index.js
  src/tomato.png
Labels: 2, fix bug, test

#26 Show page nw
  src/App/App.js
  src/Login/Login.test.js
  src/MovieCard/MovieCard.js
  src/MovieContainer/MovieContainer.js
  src/ShowPage/ShowPage.css
  src/ShowPage/ShowPage.js
  src/ShowPage/ShowPage.test.js
  src/apiCalls.js
Labels: 3, API, display, question, test

#27 Movie show page nw
  src/App/App.js
  src/Header/Header.css
  src/Header/Header.js
  src/MovieCard/MovieCard.js
  src/ShowPage/ShowPage.css
  src/ShowPage/ShowPage.js
Labels: 3, async, design, display, fix bug

#30 Add user rating ng
  src/App/App.js
  src/Login/Login.js
  src/MovieCard/MovieCard.css
  src/MovieCard/MovieCard.js
  src/MovieContainer/MovieContainer.js
  src/ShowPage/ShowPage.js
  src/apiCalls.js
Labels: 4, API, design

#31 Delete rating nw
  src/MovieCard/MovieCard.js
  src/ShowPage/ShowPage.js
  src/apiCalls.js
Labels: 5, API, bug, display

#33 Edit rating ng
  src/App/App.js
  src/MovieCard/MovieCard.js
  src/MovieContainer/MovieContainer.js
  src/apiCalls.js
Labels: 5, API

#45 Housekeeping nw
  package.json
  src/App/App.js
  src/Header/Header.js
  src/Login/Login.js
  src/MovieCard/MovieCard.js
  src/MovieContainer/MovieContainer.js
  src/ShowPage/ShowPage.js
Labels: 5, async, error handling

#74 Testing ng
  package-lock.json
  package.json
  src/App/App.js
  src/App/App.test.js
  src/Header/Header.js
  src/Header/Header.test.js
  src/Login/Login.js
  src/Login/Login.test.js
  src/ShowPage/ShowPage.js
  src/ShowPage/ShowPage.test.js
Labels: test

#75 Comments ng
  src/App/App.js
  src/ShowPage/ShowPage.css
  src/ShowPage/ShowPage.js
  src/apiCalls.js
Labels: 7, API, design

#76 Test ratings nw
  package-lock.json
  package.json
  src/MovieCard/MovieCard.js
  src/MovieCard/MovieCard.test.js
  src/MovieContainer/MovieContainer.test.js
  src/apiCalls.js
Labels: test

#77 Refactor ng
  public/index.html
  src/App/App.js
  src/Header/Header.css
  src/Header/Header.js
  src/Header/Header.test.js
  src/Login/Login.css
  src/Login/Login.js
  src/MovieCard/MovieCard.css
  src/MovieCard/MovieCard.js
  src/MovieContainer/MovieContainer.css
  src/MovieContainer/MovieContainer.js
  src/ShowPage/ShowPage.css
  src/ShowPage/ShowPage.js
  src/ShowPage/ShowPage.test.js
  src/index.css
Labels: design

#78 Readme nw
  README.md
  src/Favorites/Favorite.css
  src/Favorites/Favorite.js
Labels: documentation

#79 Styling ng
  src/MovieCard/MovieCard.css
Labels: design

#80 Routing ng
  package-lock.json
  package.json
  src/App/App.js
  src/App/App.test.js
  src/Login/Login.js
  src/Login/Login.test.js
Labels: display, documentation
